# Ignore generated Excel report
Sample-report - Small.xlsx
Sample-report - Small.csv
Compare-Report-Source-Target - Beta.ps1
Local_Folder_Report_Generator - Root Folder REMOVED.ps1
Local_Folder_Report_Generator - Root Folder REMOVED 2.ps1
Local_Folder_Report_Generator - Root Folder REMOVED 2 - dead.ps1
Local_Folder_Report_Generator - Root Folder REMOVED 2 working backup copy.ps1